<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.TriviaTrek"
        tools:targetApi="31">
        <activity
            android:name=".AdministradorVerSugerenciaActivity"
            android:exported="false" />
         <activity
                 android:name=".AdministradorAgregarPreguntaActivity"
                android:exported="false" />
        <activity
                android:name=".AdministradorEliminarPreguntaActivity"
                android:exported="false" />
        <activity
                android:name=".InstruccionesActivity"
                android:exported="false" />
        <activity
                android:name=".MainActivity"
                android:exported="false" />
        <activity
                android:name=".MenuActivity"
                android:exported="false" />
        <activity
                android:name=".MenuAdminActivity"
                android:exported="false" />
        <activity
                android:name=".PerfilActivity"
                android:exported="false" />
        <activity
                android:name=".RegistroActivity"
                android:exported="false" />
        <activity
                android:name=".ResultadosActivity"
                android:exported="false" />
        <activity
            android:name=".SugerenciaPreguntaActivity"
            android:exported="false" />
        <activity
            android:name=".PodioActivity"
            android:exported="false" />
        <activity
            android:name=".CategoriaPreguntasActivity"
            android:exported="false" />
        <activity
            android:name=".PreguntaActivity"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>